
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&display=swap');

h1 {
    font-family: 'Dongle', sans-serif;
    font-size: 60px;
    font-weight: 700;
}

main {
    font-family: 'Dongle', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

div{
    width: 60%;
    height: 80px;
    padding: 20px 20px 1px;
}

.div1 {
    background-color: orange;
    margin-top: 10px;

    animation-name: cambiarMargen;
    animation-duration: 3s;
   
}

@keyframes cambiarMargen{
    0%{
        margin-left: 0px;
    }
    50%{
        margin-left: 200px;
    }
    100%{
        margin-left: 0px;
    }
}

.div2{
    background-color: palegoldenrod;
    margin-top: 10px;
    animation-name: cambiarMargen;
    animation-duration: 3s;
    animation-delay: 3s;
}

.div3{
    background-color: pink;
    margin-top: 10px;
    animation-name: cambiarMargen;
    animation-duration: 3s;
    animation-delay: 6s;
}