
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap');

h1{font-family: 'Roboto', sans-serif;
font-weight: 900;
font-size: 80px;
color: #0a2ff1;}

#texto{font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #0a2ff1;
}

.parrafo{font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
    color: #04146c;
}

div span{font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 27px;
    color: #04146c;}

button{font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color: white;
    background-color: #0a2ff1;
    border-color: #0a2ff1;
    width: 400px;
    height: 70px;
    margin-top: 30px;
}